.control-panel {
  display: flex;

  &__update {
    border: 0;
    background: url('~../assets/images/icon-update1.svg') center center no-repeat;
    background-color: $buttonBackground;
  }

  &__lang {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  &__faringate {
    border-radius: $cpElementBorderRadius 0 0 $cpElementBorderRadius;
  }

  &__celsius {
    border-radius: 0 $cpElementBorderRadius $cpElementBorderRadius 0;
  }
}