
.dropdown {
  width: 71px;
  height: $cpElementHeight;
  background: rgba(174, 181, 185, 0.5);
  border: 0;
  border-radius: $cpElementBorderRadius;
  padding-left: 10px;
  padding-right: 10px;
  text-transform: uppercase;
  font-family: 'Montserrat' sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: $fontColor;
}