$huge: 1440px;
$large: 1024px;
$medium: 768px;
$small: 480px;

$fontColor: #FFFFFF;

$cpElementHeight: 2.75rem;
$cpElementFontSize: 0.875rem;
$cpElementBorderRadius: 5px;
$cpElementPadding: 1.25rem;

$buttonPadding: 0.625rem;
$buttonBackground: rgba(180, 184, 187, 0.4);
$buttonBackgroundSelected: rgba(76, 82, 85, 0.4);