.weather-day {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  color: $font-color;
  white-space: nowrap;

  &__city {
    font-size: 44px;
    line-height: 54px;
  }

  &__date-time {
    font-size: 24px;
    line-height: 36px;
    text-transform: none;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 2fr 3fr;
    grid-template-areas:  
    "temp img"
    "temp more";
  }

  &__temp {
    grid-area: temp;
    display: flex;
    align-items: flex-start;
    font-size: 306px;
    line-height: 370px;

    @media screen {
      
    }

    &-deg {
      font-size: 100px;
      line-height: 225px;
    }
  }

  &__img {
    grid-area: img;
  }

  &__more {
    grid-area: more;
    list-style: none;
    font-size: 22px;
    line-height: 37px;
  }
}